body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .actividad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-top: 40px; /* Margen superior para espacio entre navbar */
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    box-sizing: border-box; /* Asegúrate de que el padding se incluya en el ancho total */
  }
  
  .actividad-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Centrar el título */
  }
  
  .actividad-input,
  .actividad-textarea,
  .actividad-file-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .actividad-textarea {
    resize: vertical;
  }
  
  .actividad-button {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px;
    margin-top: 15px; /* Añadir espacio entre el botón y otros elementos */
  }
  
  .actividad-button:hover {
    background-color: #45a049;
  }
  
  footer {
    margin-top: 40px; /* Margen entre el contenedor y el footer */
    text-align: center; /* Centrar el footer */
  }
  