.actividad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.actividad-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.actividad-input,
.actividad-textarea,
.actividad-file-input,
.actividad-select { /* Añadido el estilo para el select */
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.actividad-textarea {
  resize: vertical;
}

.actividad-button {
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 200px;
  margin-top: 15px;
}

.actividad-button:hover {
  background-color: #45a049;
}

footer {
  margin-top: 40px;
  text-align: center;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  background-color: #4caf50; /* Green for success */
  border-radius: 4px;
  text-align: center;
}

.alert.error {
  background-color: #f44336; /* Red for errors */
}

@media (max-width: 768px) {
  .actividad-container {
    padding: 20px;
  }

  .actividad-title {
    font-size: 1.3rem;
  }

  .actividad-button {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .actividad-title {
    font-size: 1.2rem;
  }

  .actividad-input,
  .actividad-textarea,
  .actividad-file-input,
  .actividad-select { /* Reducir tamaño de fuente también para el select */
    font-size: 0.9rem;
  }

  .actividad-button {
    padding: 10px;
  }
}
