.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Hero section */
  .hero-section {
    background-image: url('../img/Foto2.jpg'); /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 20px;
  }
  
  .hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 30px;
    border-radius: 8px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #218838;
  }
  
  /* Sección de Quiénes Somos */
  .about-section {
    text-align: center;
    padding: 50px 20px;
  }
  
  .about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 1.2rem;
    color: #34495e;
  }
  
  /* Sección de Objetivos */
  .goal-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 20px;
  }
  
  .goal-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .goal-image {
    flex: 1;
    text-align: center;
  }
  
  .goal-image img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.5rem;
    }
  
    .hero-content p {
      font-size: 1.2rem;
    }
  
    .goal-section {
      flex-direction: column;
    }
  
    .goal-content {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .goal-image img {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1rem;
    }
  
    .cta-button {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }

  .test{
    color: white;
  }
  .home-container {
    overflow-x: hidden;
  }
  
  .hero-section, .about-section, .goal-section {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  