.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.news-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.news-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-card h2 {
  font-size: 1.2em;
  margin: 15px;
}

.news-card p {
  margin: 15px;
  color: #555;
}

.news-card a {
  display: inline-block;
  margin: 15px;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.news-card a:hover {
  text-decoration: underline;
}

/* Estilos para el h1 (Noticias) */
.news-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

/* Estilos para la paginación */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .news-container {
    padding: 10px;
    gap: 15px;
  }

  .news-card h2 {
    font-size: 1.1em;
  }

  .news-card p {
    font-size: 0.9em;
  }

  .news-image {
    height: 150px;
  }

  .pagination button {
    padding: 6px 10px;
    font-size: 12px;
  }

  .pagination span {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .news-card {
    flex-direction: column;
  }

  .news-card h2 {
    font-size: 1em;
  }

  .news-card p {
    font-size: 0.8em;
  }

  .news-image {
    height: 120px;
  }

  .pagination button {
    padding: 5px 8px;
    font-size: 10px;
  }

  .pagination span {
    font-size: 12px;
  }
}
