/* Contenedor principal */
.container {
  max-width: 600px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Título principal */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Etiquetas de formulario */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
  color: #444;
}

/* Estilo de los campos de entrada */
select,
input[type="text"],
input[type="file"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: #28a745;
  outline: none;
}

/* Estilo para el botón */
button {
  width: 100%;
  max-width: 250px;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin: 20px auto 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

/* Select centrado */
.centrar-select {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

/* Estilo del calendario */
.react-big-calendar {
  width: 100%;
  max-width: 100%;
  height: 500px;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
}

/* Ajustar la barra de herramientas del calendario */
.rbc-toolbar {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  gap: 40px;
}

.rbc-toolbar-label {
  margin-right: 10px;
  white-space: nowrap; /* Evita que el texto se expanda en varias líneas */
}

.rbc-toolbar button {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 10px;
  cursor: pointer;
  width: 100px;
}

.rbc-toolbar button:hover {
  color: #218838;
}

/* Estilo de los días y eventos en el calendario */
.rbc-day-slot {
  background-color: #f4f4f4;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.rbc-event {
  background-color: #000000;
  border: 1px solid #28a745;
  border-radius: 4px;
}

.rbc-event:focus,
.rbc-event:hover {
  background-color: #28a745;
  color: white;
}

.rbc-day-bg {
  background-color: #fff;
}

.rbc-day:hover {
  background-color: #f0f8ff;
}

.rbc-selected {
  background-color: #28a745;
  color: white;
  border-radius: 6px;
}

/* Estilo para el rango de horas seleccionado */
.rbc-day-slot .rbc-time-slot-selected {
  background-color: #c3e6cb;
  border: 1px solid #28a745;
}


/* Centrar el calendario */
.rbc-time-content {
  padding: 0 10px;
}

.rbc-time-header {
  background-color: #28a745;
  color: white;
}

.rbc-event-label {
  display: none; /* Ocultar label para eventos de un solo día */
}

/* Mejoras en botones y etiquetas */
.centrar-select,
button {
  display: block;
  margin: 0 auto;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.modal-button {
  display: block;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.modal-button:hover {
  background-color: #218838;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }

  .button {
    width: 100%;
    margin-top: 20px;
  }
}
